.stripes {
  width: 26vw;
  min-width: 50px;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: fixed;
  top: 0;
  right: 10vw;
  z-index: -1;
  opacity: .6;

  &::before, &::after {
    content: '';
    height: 100%;
    width: 46%;
    background-color: #ffa500;
  }
}